.github
.vscode
.direnv
.git

node_modules
**/node_modules

.env
**/.env

# Ignore rust target dir to avoid accidentally borking dependencies
target
gopkg/*/lib/*.a
gopkg/*/lib/*.so
# Same as above



