[submodule "op-stack/optimism-rs"]
	path = op-stack/optimism-rs
	url = git@github.com:dndll/magi.git
[submodule "bin/light-client"]
	path = bin/light-client
	url = git@github.com:near/near-light-client.git
[submodule "op-stack/optimism"]
	path = op-stack/optimism
	url = git@github.com:near/optimism.git
[submodule "cdk-stack/cdk-validium-node"]
	path = cdk-stack/cdk-validium-node
	url = git@github.com:firatNEAR/cdk-validium-node.git
[submodule "cdk-stack/cdk-data-availability"]
	path = cdk-stack/cdk-data-availability
	url = git@github.com:firatNEAR/cdk-data-availability.git
