[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"
overflow-checks = true

# [profile.dev]
# debug = 0

[workspace.package]
version = "1.1.0"
authors = ["Pagoda <hello@near.org>"]
edition = "2021"

[workspace]
members = ["crates/*", "contracts/*", "bin/*" ]
# TODO: ignored for now  "op-stack/optimism-rs"
resolver = "2"

[workspace.dependencies]

# Nostd
near-sdk = "4.0.0"
near-sdk-contract-tools = "1.0.1"
borsh = { version = "0.10.3", default-features = false }

# Std aware
