go 1.20

use (
	./op-stack/openrpc
	./op-stack/optimism
	./op-stack/optimism/batch-submitter
	./op-stack/optimism/bss-core
	./op-stack/optimism/endpoint-monitor
	./op-stack/optimism/gas-oracle
	./op-stack/optimism/indexer
	./op-stack/optimism/l2geth
	./op-stack/optimism/l2geth-exporter
	./op-stack/optimism/op-exporter
	./op-stack/optimism/op-heartbeat
	./op-stack/optimism/packages/contracts-bedrock/test-case-generator
	./op-stack/optimism/proxyd
)
